.advantage-section {
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin: 0;
  }

  &__list {
    display: flex;
  }

  &__background {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

.advantage-section__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
